*{
    margin: 0;
}

html {
    --green: #0A846E;
    --brown: #9E6D52;
}

html,
body {
    height: 100dvh;
    margin: auto;
    max-width: 1200px;
}

/*--------HEADER-----------*/
header{
    display: flex;
    height: 540px;
}

.header-img-div{
    background-image: url(img/hand_small.jpg);
    background-position: 0px -200px;
    width: 50%;
    display: flex;
    justify-content: center;
    
}

.header-img {
    width: 200px;
}

.header-icon-div {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.header-brown{
    background-color: var(--brown);
    display: flex;
    justify-content: center;
    height: 270px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-green{
    background-color: var(--green);
    display: flex;
    justify-content: center;
    height: 270px;
    padding-top: 30px;
    padding-bottom: 30px;
}
