*{
    margin: 0;
    box-sizing: border-box;
}

html {
    --green: #0A846E;
    --brown: #9E6D52;
    --darkgreen: #055647;
    --maven: Maven Pro;
}

html,
body {
    height: 100dvh;
    margin: auto;
    max-width: 1200px;
}

/*--------HEADER-----------*/
header {
    height: 540px;
}

.header-img-div {
    background-image: url(img/hand_small.jpg);
    background-position: -50px -250px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img {
    width: 200px;
}

.header-icon-div {
    display: flex;
    flex-direction: row;
}

.header-brown {
    background-color: var(--brown);
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
    height: 150px;
}

.header-green {
    background-color: var(--green);
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
    height: 150px;
}

@media screen and (min-width: 650px) {
header{
    display: flex;
    height: 500px;
}

.header-img-div{
    background-image: url(img/hand_small.jpg);
    background-position: center;
    width: 50%;
    display: flex;
    justify-content: center;
}

.header-img {
    width: 200px;
}

.header-icon-div {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.header-brown{
    background-color: var(--brown);
    display: flex;
    justify-content: center;
    height: 250px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%
}

.header-green{
    background-color: var(--green);
    display: flex;
    justify-content: center;
    height: 250px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%
}
}

/*--------- NAV ---------*/


#menu {
    z-index: 2;
}

#menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: white;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav {
    transition: 0.3s ease;
    display: none;
}

.nav ul {
    padding: 0 22px;
}

.nav li {
    list-style: none;
    padding: 12px 0;
}

.nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
}

.menu-bg,
#menu {
    top: 0;
    left: 0;
    position: absolute;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, var(--green), var(--green));
    border-radius: 50%;
    transition: 0.3s ease;
}

.change {
    display: block;
}

.change .bar {
    background-color: white;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%, -30%);
}

.navigation-container {
    display: none;
}

@media screen and (min-width: 650px) {

#menu {
    display: none;
}
.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 30px 20px 30px;
    font-family: sans-serif;
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.1);

}
 a {
    text-decoration: none;
    color: var(--darkgreen);
    font-size: 20px;
    
 }
}
 